#listContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
    row-gap: 40px;
    padding:20px 20px;

}
.objeto{
    transition: .5s;
}
.objeto:hover{
    transform:translateY(-10px)
}
h1{
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
}

#prend{
    display: inline-flex;
    background-color: #fff;
    color:#000
}

#apag{
    display: inline-flex;
    background-color: #000;
    color:#fff
}

