*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #000;
}

#navBar{
    padding: 30px;
    display: flex;
}

#categorias{
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
}

.filter li{
    display: inline-flex;
    font-size: 20px;
    transition: .5s;
    margin:0px 40px;
}

#logo p{
    font-style: italic;
    transform: rotate(-15deg);
}


.filter li:hover{
    transform: scale(1.2) translateY(-7px);
}


#logo{
    flex-grow: 1;
    transition: .5s;
}

#logo:hover{
    transform: scale(1.2) translate(13px);
}

p{
    transition: .3s;
}

#logo:hover p{
    font-weight: bold;
}

img{
    width: 70px;
    height: 70px;
}